<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Moje Wpłaty</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header>
  <h1>Moje Wpłaty</h1>
  <nav>
    <a th:href="@{/templates/client/dashboard}">Dashboard</a>
    <a th:href="@{/templates/client/abonaments}">Abonamenty</a>
    <a th:href="@{/templates/client/billings}">Należności</a>
    <a th:href="@{/templates/client/payments}">Wpłaty</a>
    <a th:href="@{/templates/client/pricelist}">Cennik</a>
    <a th:href="@{/templates/client/notifications}">Powiadomienia</a>
    <span>Aktualna data symulowana: <span class="simulated-date">…</span></span>

  </nav>
</header>
<main>
  <section>
    <h2>Lista Wpłat</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Termin wpłaty</th>
        <th>Kwota</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="pay : ${payments}">
        <td th:text="${pay.id}">1</td>
        <td th:text="${pay.terminWplaty}">2025-01-02</td>
        <td th:text="${pay.kwotaWplaty}">100.00</td>
      </tr>
      </tbody>
    </table>
  </section>
</main>
<footer>
  <p>&copy; 2025 Telewizja App</p>
</footer>
</body>
</html>
